if [ -d "venv" ]; then
	echo "using existing python venv"
	source venv/bin/activate
else
	echo "creating new python venv"
	python3 -m venv venv
	source venv/bin/activate
	python -m pip install -U pip
	python -m pip install -r requirements.txt
	jupyter labextension install jupyterlab_vim
	jupyter labextension install @ryantam626/jupyterlab_black
	jupyter labextension install @jupyterlab/dataregistry-extension
	jupyter labextension install jupyterlab_bokeh
fi
unset PS1
